<section class="profile col-md-6 text-center col-lg" id="profile-page">
    <div class="profile-container">
        <!-- Do not forget to change the path to the image -->
        <!-- Gender of the user determines which picture is displayed as their avatar -->
        {{#if profile.gender.male}}
        <img class="profile-img" src="../static/images/male.png">
        {{else}}
        <img class="profile-img" src="../static/images/female.png">
        {{/if}}
        <p>Email: <span>{{profile.email}}</span></p>
    </div>
    <div class="profile-info">

        {{#if profile.trips}}
        <p>Trips History: <span>{{profile.trips.length}}</span> counts</p>

        <div class="trips-info">
            <!-- If there are trips created by the current logged in user display each of them -->
            {{#each profile.trips}}
            <p>from <span>{{startPoint}}</span> to <span>{{endPoint}}</span> on <span>{{date}}</span> at
                <span>{{time}}</span>
            </p>
            {{/each}}
            <!-- If there are no trips created by the current logged in user display:-->
            {{else}}
            <p>there are no offer trips yet...</p>
            {{/if}}
        </div>

    </div>
</section>