<h1>{{car.name}}</h1>
<img class="cube" src="/static/images/{{car.imageUrl}}">
<div class="details">
  <p><span>Description:</span>{{car.description}}</p>
  <p><span>Price:</span> {{car.price}}</p>
  <a class="btn" href="/">Back</a>
  <a class="btn" href="/attach/{{car.id}}">Attach Accessory</a>
  <a class="btn" href="/edit/{{car.id}}">Edit</a>
  <a class="btn" href="/delete/{{car.id}}">Delete</a>

  {{#if accessory}}
  <h2>Accessories</h2>
  <div class="accessories">
    <div class="accessory">
      <img src="https://images-na.ssl-images-amazon.com/images/I/61J8UP8pySL._SX425_.jpg" alt="stickerName">
      <h3>Accessory Name</h3>
      <p>Accessory Description</p>
    </div>
    <div class="accessory">
      <img src="https://images-na.ssl-images-amazon.com/images/I/61J8UP8pySL._SX425_.jpg" alt="stickerName">
      <h3>Accessory Name</h3>
      <p>Accessory Description</p>
    </div>
    <div class="accessory">
      <img src="https://images-na.ssl-images-amazon.com/images/I/61J8UP8pySL._SX425_.jpg" alt="stickerName">
      <h3>Accessory Name</h3>
      <p>Accessory Description</p>
    </div>
    <h3 class="italic">This cube has no accessories yet...</h3>
  </div>
  {{/if}}
</div>